<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>order detail: {{ order.distributor.name }} {{ order.order_num }}</title>
    </head>
    
    <body>
        <h2>{{ order.distributor.name }} {{ order.order_num }}</h2>
        <p>
            {{ order.order_date }}
        </p>
        <table>
            <tbody>
                <tr>
                    <th>manufacturer</th>
                    <th>manufacturer p/n</th>
                    <th>distributor p/n</th>
                    <th>quantity</th>
                    <th>description</th>
                    <th>value</th>
                </tr>
                {% for line_item in order.lineitem_set.all %}
                    <tr>
                        <td>{{ line_item.distributor_part.part.manufacturer }}</td>
                        <td><a href="/parts/part/{{ line_item.distributor_part.part.id }}/">{{ line_item.distributor_part.part.part_num }}</td>
                        <td>{{ line_item.distributor_part.dist_part_num }}</td>
                        <td>{{ line_item.quantity }}</td>
                        <td>{{ line_item.distributor_part.part.description }}</td>
                        <td>{{ line_item.distributor_part.part.value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
